.modeToggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.modeToggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70px;
  height: 34px;
  background: #5ebacc;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.modeToggle-label .modeToggle-btn {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.modeToggle-checkbox:checked + .modeToggle-label .modeToggle-btn {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.modeToggle-label:active .modeToggle-btn {
  width: 35px;
}

.modeToggle-status {
  position: absolute;
  left: 15px;
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

.modeToggle-btn {
  z-index: 0;
}
